# Semana 2: Clase 2

## Las tuplas no se pueden modificar, consume pocos recursos

In [16]:
a=(1,2,2,3,4,5,7)

In [17]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [20]:
a =a.__add__(tuple('1')).__add__(tuple('a'))

In [21]:
a

(1, 2, 2, 3, 4, 5, 7, '1', 'a')

## Listas por comprensión, en python se manejan arreglo-listas

In [23]:
lc = []

### Se considera primero los elementos base y luego los filtros

In [40]:
lc =[x for x in range(20) if x%2 !=0]

In [37]:
lc

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Cuando se usan () se crea un genexpr que es lazzy

In [53]:
lc =(x for x in range(20) if x%2 !=0)
lc

In [54]:
for x in lc:
    print(x)

1
3
5
7
9
11
13
15
17
19

In [55]:
nombre = "Uriel"
direccion = "reforma"
telefono = "55555"
print("El nombre:"+nombre+", Direccion: "+direccion+", Telefono:"+telefono)

El nombre:Uriel, Direccion: reforma, Telefono:55555

In [56]:
print("El nombre:{0}, Direccion: {1} ,Teléfono:{2} ".format(nombre,direccion,telefono))

El nombre:Uriel, Direccion: reforma ,Teléfono:55555

#### El format sirve para modificar el formato, se puede truncar

In [71]:
'{:1.10f}'.format(3.14159264)

'3.1415926400'

In [63]:
'{:8d}'.format(42)

'      42'

## ITERTOOLS
#### Iteradores especiales

In [73]:
import itertools

### dir() muestra las librerías cargadas y las variables

In [75]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_14',
 '_15',
 '_17',
 '_18',
 '_19',
 '_21',
 '_28',
 '_32',
 '_37',
 '_4',
 '_5',
 '_52',
 '_53',
 '_57',
 '_58',
 '_59',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_69',
 '_70',
 '_71',
 '_74',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'atexit',
 'direccion',
 'exit',
 'get_ipython',
 'itertools',
 'lc',
 'nombre',
 'os',
 'platform',
 'py4j',
 'quit',
 'telefono',
 'x']

####  '__builtin__', '__builtins__', contienen las librerías básicas

In [76]:
import itertools as it

In [77]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_14',
 '_15',
 '_17',
 '_18',
 '_19',
 '_21',
 '_28',
 '_32',
 '_37',
 '_4',
 '_5',
 '_52',
 '_53',
 '_57',
 '_58',
 '_59',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_69',
 '_70',
 '_71',
 '_74',
 '_75',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'atexit',
 'direccion',
 'exit',
 'get_ipython',
 'it',
 'itertools',
 'lc',
 'nombre',
 'os',
 'platform',
 'py4j',
 'quit',
 'telefono',
 'x']

# Heap y Stack en memoria, son para todos los procesos
##  - Stack: lo que se declaró en el programa de tamaño fijo, inclusive un ciclo que tiene un tamaño definido (   for (int i =0;i<10)   )
##  - Heap: Todo lo que se declara que no tiene un tamaño fija: lista, for elemento in lista, malloc, calloc, TODOS los iteradores viven en Heap

## Itertools reserva un espacio en el Heap solo para Python (lo cual no se permite normalmente), por eso ya no necesita control de memoria y usa la evaluación perezosa (lazzy).
## Los beneficios son en tiempo de ejecución, pero tiene un impacto en recursos.

In [11]:
#import itertools as it
from itertools import *

### Iteradores infinitos.
#### Un iterador es un conjunto de elementos que tinen un indicador(índice)
#### Los iteradores indefinidos, infinitos: count(), cycle(), repeat(), no deben ir solos

# Cycle(): Puede iterar sobre una lista muy larga y está optimizado para esas aplicaciones.

In [12]:
contador = 0

for item in cycle([1,2,3]):
    if contador ==5:
        break
        
    contador +=1
    
    print(item)

1
2
3
1
2

# islice()
### Es de evaluación lazzy, hace el trabajo de un range() pero optimizado
### Normalmente coun() va acompañado de islice

In [21]:
iterador = islice(count(),5,10)

In [22]:
iterador

# Pickle
### Archivo de tipo binario serializable 
### Se puede guardar cualqueir contenido de una variable sin pérdida de datos ya que es al mas bajo nivel.

In [28]:
import pickle

In [29]:
favorite_color = {"lion":"yellow","kitty":"fred"}

### Se guarda la variable en el archivo "Save.p" "wb"-> write binary

In [37]:
pickle.dump(favorite_color, open("Save.p","wb"))

### Se recupera la variable del archivo "Save.p" "rb"-> read binary

In [38]:
favorite_color = pickle.load(open("Save.p","rb"))

In [39]:
favorite_color

{'lion': 'yellow', 'kitty': 'fred'}

# Numpy (Numerical Python), arreglos optimizados
# Se basan en numpy:
### scipy
### pandas
### dataframe(spark)

In [1]:
from numpy import *

In [2]:
arreglo_1 = zeros(5)

print(arreglo_1)

[ 0.  0.  0.  0.  0.]

In [3]:
arreglo_1 = ones(5)
print(arreglo_1)

[ 1.  1.  1.  1.  1.]

In [5]:
print(pi)

3.14159265359

In [7]:
print(e)

2.71828182846

In [8]:
arreglo_1 = zeros((5,5))

In [9]:
print(arreglo_1)

[[ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]]

# Semana 2: Clase 4

In [10]:
arreglo_1 = ones((4,6))

In [11]:
print(arreglo_1)

[[ 1.  1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.  1.]]

In [12]:
import sys

In [13]:
sys.path

['',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python27.zip',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python2.7',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python2.7/plat-linux2',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python2.7/lib-tk',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python2.7/lib-old',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python2.7/lib-dynload',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python2.7/site-packages',
 '/opt/cloudera/parcels/Anaconda-5.0.1/lib/python2.7/site-packages/IPython/extensions',
 '/home/cloudera/.ipython']

In [16]:
arreglo_3 = array([1.,2.,3.,4.,5.])
print arreglo_3

[ 1.  2.  3.  4.  5.]

In [17]:
type(arreglo_3)

numpy.ndarray

In [18]:
arreglo_3 + arreglo_3

array([  2.,   4.,   6.,   8.,  10.])

#### El arreglo en numpy realiza operaciones matemáticas y no concatena

In [21]:
ones(4)*4

array([ 4.,  4.,  4.,  4.])

In [43]:
## ndarray es una forma de declarar una matriz
matrix([[1,2,3],
       [4,5,6]])

matrix([[1, 2, 3],
        [4, 5, 6]])

In [90]:
ndarray(buffer=array([10, 0, 0, 10]), shape=(2,2))

array([[  4.94065646e-323,   0.00000000e+000],
       [  0.00000000e+000,   4.94065646e-323]])

In [54]:
ones(4).mean()

1.0

In [55]:
ones(4).sum()

4.0

In [74]:
ndarray(shape=(3,), dtype=float,buffer = array( [1,2,3]))

array([  4.94065646e-324,   9.88131292e-324,   1.48219694e-323])

## Pandas permite usar dataframe en python, los dataframe son super tablas ya que tienen atributos adicionales, los cuales se ejecutan de manera recurrente y paralelo pero no distribuido; los dataframe que se pueden distribuir son los de spark. DataFrame no tiene funciones map, por lo cual se puden usar udf, el rdd si tiene.

In [76]:
import pandas as pd

In [77]:
dataframe = pd.read_csv("ejercicio_5.txt")

In [78]:
dataframe

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741,730,912,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
1,1987,10,15,4,729,730,903,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
2,1987,10,17,6,741,730,918,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
3,1987,10,18,7,729,730,847,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
4,1987,10,19,1,749,730,922,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
5,1987,10,21,3,728,730,848,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
6,1987,10,22,4,728,730,852,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
7,1987,10,23,5,731,730,902,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
8,1987,10,24,6,744,730,908,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
9,1987,10,25,7,729,730,851,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
10,1987,10,26,1,735,730,904,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
11,1987,10,28,3,741,725,919,855,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
12,1987,10,29,4,742,725,906,855,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
13,1987,10,31,6,726,725,848,855,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
14,1987,10,1,4,936,915,1035,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
15,1987,10,2,5,918,915,1017,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
16,1987,10,3,6,928,915,1037,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
17,1987,10,4,7,914,915,1003,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
18,1987,10,5,1,1042,915,1129,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
19,1987,10,6,2,934,915,1024,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
20,1987,10,7,3,946,915,1037,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
21,1987,10,8,4,932,915,1033,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
22,1987,10,9,5,947,915,1036,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
23,1987,10,10,6,915,915,1022,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
24,2008,12,13,6,1531,1522,1822,1823,DL,1612,...,9.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
25,2008,12,13,6,1910,1910,2017,2016,DL,1612,...,5.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
26,2008,12,13,6,1441,1445,1604,1622,DL,1613,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
27,2008,12,13,6,921,830,1112,1008,DL,1616,...,8.0,21.0,0,NaN,0,51.0,0.0,13.0,0.0,0
28,2008,12,13,6,1435,1440,1701,1704,DL,1618,...,20.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
29,2008,12,13,6,1750,1755,2010,2015,DL,1618,...,7.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
30,2008,12,13,6,706,710,850,837,DL,1619,...,23.0,32.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
31,2008,12,13,6,1552,1520,1735,1718,DL,1620,...,9.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,17
32,2008,12,13,6,1250,1220,1617,1552,DL,1621,...,9.0,18.0,0,NaN,0,3.0,0.0,0.0,0.0,22
33,2008,12,13,6,1033,1041,1255,1303,DL,1622,...,9.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
34,2008,12,13,6,840,843,1025,1021,DL,1624,...,6.0,46.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
35,2008,12,13,6,810,815,1504,1526,DL,1625,...,7.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
36,2008,12,13,6,547,545,646,650,DL,1627,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
37,2008,12,13,6,848,850,1024,1005,DL,1628,...,4.0,44.0,0,NaN,0,0.0,0.0,19.0,0.0,0
38,2008,12,13,6,936,936,1114,1119,DL,1630,...,4.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
39,2008,12,13,6,657,600,904,749,DL,1631,...,15.0,34.0,0,NaN,0,0.0,57.0,18.0,0.0,0
40,2008,12,13,6,1007,847,1149,1010,DL,1631,...,8.0,32.0,0,NaN,0,1.0,0.0,19.0,0.0,79
41,2008,12,13,6,638,640,808,753,DL,1632,...,14.0,26.0,0,NaN,0,0.0,0.0,15.0,0.0,0
42,2008,12,13,6,756,800,1032,1026,DL,1633,...,23.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
43,2008,12,13,6,612,615,923,907,DL,1635,...,5.0,23.0,0,NaN,0,0.0,0.0,16.0,0.0,0
44,2008,12,13,6,749,750,901,859,DL,1636,...,20.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
45,2008,12,13,6,1002,959,1204,1150,DL,1636,...,6.0,45.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
46,2008,12,13,6,834,835,1021,1023,DL,1637,...,5.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
47,2008,12,13,6,655,700,856,856,DL,1638,...,24.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
48,2008,12,13,6,1251,1240,1446,1437,DL,1639,...,13.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NA
49,2008,12,13,6,1110,1103,1413,1418,DL,1641,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [82]:
type(dataframe)

pandas.core.frame.DataFrame

In [80]:
dataframe

## Para poder utilizar paquetes que operan únicamente en concurrente y paralelo pero no en distribuido se deben importar dentro de la definición de la función y ser llamadas por la función lambda:

In [91]:
# def funcion(x):
#    import pandas as pd

#spark_rdd.map(lambda x:funcion(x))

In [92]:
dataframe.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay
count,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,...,50.000000,26.000000,26.000000,50.0,0.0,50.0,8.000000,8.000000,8.000000,8.0
mean,1997.920000,11.040000,14.100000,5.180000,929.72000,916.520000,1110.120000,1080.420000,1542.360000,94.800000,...,457.460000,10.653846,21.615385,0.0,NaN,0.0,6.875000,7.125000,12.500000,0.0
std,10.598113,1.009344,6.624783,1.560874,297.51632,295.946716,323.327889,335.883975,88.897272,36.642788,...,286.311961,6.305187,11.235931,0.0,NaN,0.0,17.860071,20.152543,7.982123,0.0
min,1987.000000,10.000000,1.000000,1.000000,547.00000,545.000000,646.000000,650.000000,1451.000000,43.000000,...,151.000000,4.000000,7.000000,0.0,NaN,0.0,0.000000,0.000000,0.000000,0.0
25%,1987.000000,10.000000,13.000000,4.250000,732.00000,730.000000,904.000000,849.000000,1451.000000,69.750000,...,226.000000,6.250000,13.000000,0.0,NaN,0.0,0.000000,0.000000,9.750000,0.0
50%,2008.000000,12.000000,13.000000,6.000000,844.00000,839.000000,1023.000000,1001.000000,1612.000000,89.500000,...,447.000000,8.000000,19.000000,0.0,NaN,0.0,0.000000,0.000000,15.500000,0.0
75%,2008.000000,12.000000,14.750000,6.000000,988.25000,915.000000,1144.000000,1095.750000,1627.750000,111.000000,...,528.500000,13.750000,25.500000,0.0,NaN,0.0,1.500000,0.000000,18.250000,0.0
max,2008.000000,12.000000,31.000000,7.000000,1910.00000,1910.000000,2017.000000,2016.000000,1641.000000,234.000000,...,1900.000000,24.000000,46.000000,0.0,NaN,0.0,51.000000,57.000000,19.000000,0.0

In [93]:
# un dataframe de pandas les asigna un tipo de dato a las columnas

In [94]:
dir(dataframe)

['ActualElapsedTime',
 'AirTime',
 'ArrDelay',
 'ArrTime',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Cancelled',
 'CarrierDelay',
 'DayOfWeek',
 'DayofMonth',
 'DepDelay',
 'DepTime',
 'Dest',
 'Distance',
 'Diverted',
 'FlightNum',
 'Month',
 'NASDelay',
 'Origin',
 'SecurityDelay',
 'T',
 'TailNum',
 'TaxiIn',
 'TaxiOut',
 'UniqueCarrier',
 'WeatherDelay',
 'Year',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__idiv__',
 '__imul__',
 '__init__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [97]:
#Registros, Columnas
dataframe.shape

(50, 29)

In [98]:
type(dataframe.shape)

tuple

In [99]:
dataframe.Year

0     1987
1     1987
2     1987
3     1987
4     1987
5     1987
6     1987
7     1987
8     1987
9     1987
10    1987
11    1987
12    1987
13    1987
14    1987
15    1987
16    1987
17    1987
18    1987
19    1987
20    1987
21    1987
22    1987
23    1987
24    2008
25    2008
26    2008
27    2008
28    2008
29    2008
30    2008
31    2008
32    2008
33    2008
34    2008
35    2008
36    2008
37    2008
38    2008
39    2008
40    2008
41    2008
42    2008
43    2008
44    2008
45    2008
46    2008
47    2008
48    2008
49    2008
Name: Year, dtype: int64

In [100]:
dataframe["Year"]

0     1987
1     1987
2     1987
3     1987
4     1987
5     1987
6     1987
7     1987
8     1987
9     1987
10    1987
11    1987
12    1987
13    1987
14    1987
15    1987
16    1987
17    1987
18    1987
19    1987
20    1987
21    1987
22    1987
23    1987
24    2008
25    2008
26    2008
27    2008
28    2008
29    2008
30    2008
31    2008
32    2008
33    2008
34    2008
35    2008
36    2008
37    2008
38    2008
39    2008
40    2008
41    2008
42    2008
43    2008
44    2008
45    2008
46    2008
47    2008
48    2008
49    2008
Name: Year, dtype: int64

In [110]:
# Los valores de pandas se pueden colocar en float32 o float64

In [111]:
dataframe["Year"].sum()

99896L

In [112]:
dataframe["Year"].mean()

1997.92

In [123]:
#Filtrado por filas
#loc
#iloc
#dataframe.iloc(0)
#dataframe.iloc[-1]
dataframe.iloc[0]

Year                  1987
Month                   10
DayofMonth              14
DayOfWeek                3
DepTime                741
CRSDepTime             730
ArrTime                912
CRSArrTime             849
UniqueCarrier           PS
FlightNum             1451
TailNum                NaN
ActualElapsedTime       91
CRSElapsedTime          79
AirTime                NaN
ArrDelay                23
DepDelay                11
Origin                 SAN
Dest                   SFO
Distance               447
TaxiIn                 NaN
TaxiOut                NaN
Cancelled                0
CancellationCode       NaN
Diverted                 0
CarrierDelay           NaN
WeatherDelay           NaN
NASDelay               NaN
SecurityDelay          NaN
LateAircraftDelay      NA
Name: 0, dtype: object

In [124]:
# no permite dataframe.loc[-1]
dataframe.loc[0]

Year                  1987
Month                   10
DayofMonth              14
DayOfWeek                3
DepTime                741
CRSDepTime             730
ArrTime                912
CRSArrTime             849
UniqueCarrier           PS
FlightNum             1451
TailNum                NaN
ActualElapsedTime       91
CRSElapsedTime          79
AirTime                NaN
ArrDelay                23
DepDelay                11
Origin                 SAN
Dest                   SFO
Distance               447
TaxiIn                 NaN
TaxiOut                NaN
Cancelled                0
CancellationCode       NaN
Diverted                 0
CarrierDelay           NaN
WeatherDelay           NaN
NASDelay               NaN
SecurityDelay          NaN
LateAircraftDelay      NA
Name: 0, dtype: object

In [127]:
# Filtrados por observacón
dataframe.iloc[2:5]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2,1987,10,17,6,741,730,918,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
3,1987,10,18,7,729,730,847,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
4,1987,10,19,1,749,730,922,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA

In [133]:
dataframe.Year.iloc[5:10].describe()

count       5.0
mean     1987.0
std         0.0
min      1987.0
25%      1987.0
50%      1987.0
75%      1987.0
max      1987.0
Name: Year, dtype: float64

In [146]:
dataframe.Year.where(dataframe.Year>1990,dataframe.Year+10)

0     1997
1     1997
2     1997
3     1997
4     1997
5     1997
6     1997
7     1997
8     1997
9     1997
10    1997
11    1997
12    1997
13    1997
14    1997
15    1997
16    1997
17    1997
18    1997
19    1997
20    1997
21    1997
22    1997
23    1997
24    2008
25    2008
26    2008
27    2008
28    2008
29    2008
30    2008
31    2008
32    2008
33    2008
34    2008
35    2008
36    2008
37    2008
38    2008
39    2008
40    2008
41    2008
42    2008
43    2008
44    2008
45    2008
46    2008
47    2008
48    2008
49    2008
Name: Year, dtype: int64

In [143]:
dataframe[(dataframe.Year>=1987) & (dataframe.Year<=2000)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741,730,912,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
1,1987,10,15,4,729,730,903,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
2,1987,10,17,6,741,730,918,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
3,1987,10,18,7,729,730,847,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
4,1987,10,19,1,749,730,922,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
5,1987,10,21,3,728,730,848,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
6,1987,10,22,4,728,730,852,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
7,1987,10,23,5,731,730,902,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
8,1987,10,24,6,744,730,908,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
9,1987,10,25,7,729,730,851,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
10,1987,10,26,1,735,730,904,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
11,1987,10,28,3,741,725,919,855,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
12,1987,10,29,4,742,725,906,855,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
13,1987,10,31,6,726,725,848,855,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
14,1987,10,1,4,936,915,1035,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
15,1987,10,2,5,918,915,1017,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
16,1987,10,3,6,928,915,1037,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
17,1987,10,4,7,914,915,1003,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
18,1987,10,5,1,1042,915,1129,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
19,1987,10,6,2,934,915,1024,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
20,1987,10,7,3,946,915,1037,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
21,1987,10,8,4,932,915,1033,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
22,1987,10,9,5,947,915,1036,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA
23,1987,10,10,6,915,915,1022,1001,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NA